.animateHorizontal {
  animation: detail-grow-horizontal 500ms ease-out 0ms;
}

.animateHorizontal2 {
  animation: detail-grow-horizontal 700ms ease-out 0ms;
}

@keyframes detail-grow-horizontal {
  0% {
    width: 0rem;
  }

  100% {
    width: 20rem;
  }
}

.animateVertical {
  animation: detail-grow-vertical 700ms ease-out;
}

@keyframes detail-grow-vertical {
  0% {
    height: 0rem;
  }

  100% {
    height: 14rem;
  }
}
